* {
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.poke {
    margin: .5rem;
    padding: 1rem;
    background-color: #39a950;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.poke .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.poke .detail .types .type {
    background-color:  #52da6d;
    color: white;
    padding: .5rem 1rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.poke .detail {
    display: flex;
    flex-direction: row;
}

.poke .number {
    color: #2c833d;
    text-align: right;
    opacity: 3;
}

.poke .detail img {
    max-width: 100%;
    height: 145px;
    align-self: flex-end;
}